anyio==3.5.0
black==21.12b0
certifi==2021.10.8
charset-normalizer==2.0.10
click==8.0.3
colorama==0.4.4
Deprecated==1.2.13
deprecation==2.1.0
feedparser==6.0.8
Flask==2.0.2
gotrue==0.5.0
h11==0.12.0
httpcore==0.14.5
httpx==0.21.3
idna==3.3
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
mypy-extensions==0.4.3
packaging==21.3
pathspec==0.9.0
platformdirs==2.4.1
postgrest-py==0.8.1
pydantic==1.9.0
pyparsing==3.0.7
python-dateutil==2.8.2
python-dotenv==0.19.2
realtime==0.0.4
redis==4.1.1
requests==2.27.1
rfc3986==1.5.0
rq==1.10.1
sgmllib3k==1.0.0
six==1.16.0
sniffio==1.2.0
supabase==0.3.2
tomli==1.2.3
typing-extensions==4.0.1
urllib3==1.26.8
websockets==9.1
Werkzeug==2.0.2
wrapt==1.13.3
